<div class="page position-relative" style="min-height: 70vh">
  <!---------------------  LISTAGEM --------------------------->

  <div class="d-flex justify-content-end mt-3">
    <div class="buttons" #btnsCont>
      <button type="button" class="btn btn-outline-secondary" (click)="getContratos()">
        Atualizar
      </button>
      <button type="button" class="btn btn-outline-primary shadow-sm ms-2" style="right: 5px; top: 1px"
        (click)="openCadCont()">
        Cadastrar
      </button>
    </div>
  </div>
  <table class="table" #tableConts>
    <thead>
      <tr>
        <th scope="col">Nº do contrato</th>
        <th scope="col">Ano</th>
        <th scope="col">Descricao</th>
        <th scope="col">Operacação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos" #{{contrato.numero_contrato}}>
        <th scope="row">{{ contrato.numero_contrato }}</th>
        <td>{{ contrato.ano }}</td>
        <td>{{ contrato.descricao }}</td>
        <td>
          <img style="margin-right: 10px; cursor: pointer" title="Editar" src="/assets/imgs/pencil.png" alt="Editar"
            (click)="editar(contrato)" />
          <img style="cursor: pointer" title="Excluir" src="/assets/imgs/delete.png" alt="Excluir"
            (click)="excluir(contrato)" />
        </td>
      </tr>
    </tbody>
  </table>

  <!------------- CARD SOBREPOSTO --------------------------->
  <div class="d-none text-white position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
    style="top: 15px" #divCont>
    <form
      class="text-black d-flex flex-column align-items-center justify-content-center shadow-sm bg-white rounded col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4"
      style="min-width: 22vw; min-height: 50vh">
      <h3 class="mb-4 font-weight-bold">{{operacao}} Contrato</h3>
      <div class="mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Número do Contrato:</label>
        <input type="number" [(ngModel)]="numCont" id="validationNumCont" name="numCont"
          class="form-control input-numero-contrato" aria-describedby="emailHelp" (blur)="validNumCont()"
          #inputNumCont />
        <div id="validationNumCont" class="invalid-feedback">
          Contrato já existente
        </div>
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Ano de implantação:</label>
        <input type="number" [(ngModel)]="ano" id="validationAnoCont" name="ano"
          class="form-control input-numero-contrato" aria-describedby="emailHelp" (blur)="validAnoCont()" #anoCont />
        <div id="validationAnoCont" class="invalid-feedback">
          Digite um ano válido
        </div>
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <label for="inputNumContrato" class="form-label">Descrição:</label>
        <div class="form-floating">
          <textarea [(ngModel)]="desc" name="desc" class="form-control" placeholder="Leave a comment here"
            id="floatingTextarea"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" (click)="cadastrar()"
          class="btn btn-outline-primary mt-3 float-right text-right shadow-sm">
          {{operacao}}
        </button>
      </div>
    </form>
    <img src="/assets/imgs/delete.png" alt="" srcset=""
      style="position: absolute; top: 5px; right: 5px; cursor: pointer" (click)="closeCadCont()" />
  </div>
</div>