<h5>Cadastrar item em nota de empenho</h5>
<form id="formCadContrato">
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label"
      >Número do empenho:</label
    >
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label"
      >Item ID:</label
    >
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label">QTD Empenho:</label>
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>
