<div class="bg-dark root">
    <div id="box-login">
        <img src="/assets/imgs/7cta.png" alt="" srcset="" id="logo-cta">

        <h5 id="title">Cabeamento Estruturado</h5>

        <form class="form-user" (submit)="mostrarConta()">
            <div class="form-group text-center">
                <label for="inputUsuario">Usuário</label>
                <input type="text" class="form-control text-center" id="inputUsuario" aria-describedby="emailHelp"
                    placeholder="Digite seu usuário" [(ngModel)]="conta.usuario" name="user">
            </div>
            <div class="form-group text-center">
                <label for="inputPassword">Senha</label>
                <input type="password" class="form-control text-center" id="inputPassword" placeholder="Digite a senha" [(ngModel)]="conta.senha" name="password">
            </div>
            <small class="text-danger d-none">* Usuário ou senha estão incorretos</small>
            <button type="submit" class="btn btn-outline-secondary" id="btn-acessar">Acessar</button>
        </form>
    </div>
</div>