@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

#box-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 123, 238, 0.05);
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.form-group {
    padding: 9px;
}

#logo-cta {
    width: 90px;
}

#title {
    padding: 10px;
    font-size: 1.3em;
    border-bottom: 2px solid rgba(0, 0, 255, .8);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.form-user {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h5,
label,
button {
    font-weight: bold;
}

#btn-acessar {
    margin-top: 20px;
}