<h5>Cadastrar Utilização de Empenho</h5>
<form id="formCadContrato">
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label"
      >Item/Nota de Empenho:</label
    >
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label"
      >Qtd Utilizada:</label
    >
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label">OM id:</label>
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>
