<div class="page position-relative" style="min-height: 70vh">

  <!---------------------  LISTAGEM --------------------------->
  <div class="d-flex justify-content-between mt-3">
    <div class="alert alert-danger opacity-0" role="alert" #divInfo>
      <box-icon [attr.name]="lastInfo.icon" class="me-1" #iconMsg></box-icon><span
        [innerHTML]="lastInfo.message"></span>
    </div>

    <div class="buttons" #btnsOm style="max-width: 67.5vw;">
      <button type="button" class="btn btn-outline-secondary float-end ms-1" (click)="getOm()">
        Atualizar
      </button>
      <button type="button" class="btn btn-outline-primary shadow-sm ms-2 float-end" (click)="openCadOm()">
        Cadastrar
      </button>
    </div>
  </div>
  <!----------------------- TABELA ----------------------------->
  <section #tableOm>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-5">ID</th>
          <th scope="col" class="col-6">Nome</th>
          <th scope="col">Operacação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let omI of om">
          <th scope="row" class="col-5">{{ omI.id }}</th>
          <td>{{ omI.nome }}</td>
          <td>
            <img style="margin-right: 10px; cursor: pointer" title="Editar" src="/assets/imgs/pencil.png" alt="Editar"
              (click)="editar(omI)" />
            <img style="cursor: pointer" title="Excluir" src="/assets/imgs/delete.png" alt="Excluir"
              (click)="excluir(omI)" />
          </td>
        </tr>
      </tbody>
    </table>
    <!----------------------- TOTAL ------------------------------->
    <p class="text-end">Total: {{om.length}} OM</p>
  </section>

  <!------------- CARD SOBREPOSTO --------------------------->
  <div class="d-none text-white position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
    style="top: 15px" #divOm>
    <form
      class="text-black d-flex flex-column align-items-center justify-content-around p-4 shadow bg-white rounded col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4"
      style="min-width: 22vw; min-height: 50vh">
      <h3 class="font-weight-bold">{{operacao}} OM</h3>

      <div class="d-flex flex-column align-items-center">
        <label for="idOm" class="form-label">Id:</label>
        <input type="number" [(ngModel)]="idOm" id="idOm" name="idOm" class="form-control" disabled />
      </div>

      <div class="d-flex flex-column align-items-center">
        <label for="nomeOm" class="form-label">Nome:</label>
        <input type="text" [(ngModel)]="nomeOm" id="nomeOm" name="nomeOm" class="form-control" #inputNomeOm />
      </div>

      <div class="d-flex justify-content-center">
        <button type="button" (click)="cadastrar()" class="btn btn-outline-primary float-right text-right shadow-sm"
          id="btnCadastro">
          {{operacao}}
        </button>
      </div>
    </form>
    <img src="/assets/imgs/delete.png" alt="" srcset=""
      style="position: absolute; top: 5px; right: 5px; cursor: pointer" (click)="closeCadOm()" />
  </div>
</div>