<h5>Cadastrar OM em Nota de Empenho</h5>
<form id="formCadContrato">
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label">Número do Empenho:</label>
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="inputNumContrato" class="form-label">ID da OM:</label>
    <input
      type="number"
      class="form-control input-numero-contrato"
      id="inputNumContrato"
      aria-describedby="emailHelp"
    />
  </div>

  <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>
