<!-------------------------- OMS   ------------------------------->
<p class="mt-4 pt-3" style="text-align: center; font-size: 1.3em">Utilização pelas OM</p>
<div class="itens d-flex flex-row justify-content-center align-items-center mt-3">
  <select class="form-select me-3" aria-label="Selecione o item" style="max-width: 11vw;" #selectOm>
    <option selected value="no-selected">Selecione a OM</option>
    <option *ngFor="let omU of om " value="{{omU.id}}">{{omU.nome}}</option>
  </select>

  <select class="form-select me-3" aria-label="Selecione o item" style="max-width: 13vw;" #selectItem>
    <option selected value="no-selected">Selecione o item</option>
    <option *ngFor="let itemNota of itensNota " value="{{itemNota.item_numero}}">{{getItem(itemNota.item_numero)?.numero_item}} - {{getItem(itemNota.item_numero)?.nome}}</option>
  </select>

  <div>
    <input type="number" [(ngModel)]="qtdUtilizada" id="valorItem" name="valor" class="form-control me-3"
      style="max-width: 10vw; min-height: 3vh; margin-top: 0px;" placeholder="Qtd Utilizada" #inputQtdUtilizada />
  </div>

  <div>
    <input type="text" [(ngModel)]="nota_fiscal" id="notaFiscal" name="valor" class="form-control me-3"
      style="max-width: 10vw; min-height: 3vh; margin-top: 0px;" placeholder="Nota Fiscal" #inputNotaFiscal/>
  </div>

  <button type="button" class="btn btn-outline-success" (click)="cadOmInNota()">{{operacao}}</button>
  <button type="button" class="btn btn-outline-warning ms-1" (click)="clearForm()"
    *ngIf="operacao == 'Editar'">Cancelar Edição</button>
  <button type="button" class="btn btn-outline-secondary ms-1" (click)="getUtilizacao()">Atualizar</button>

</div>
<!----------------------- TABELA ----------------------------->
<section #tableNotas>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">OM</th>
        <th scope="col" class="col-2">Item</th>
        <th scope="col" class="col-3">Qtd Utilizada</th>
        <th scope="col" class="col-3">Nota Fiscal</th>
        <th scope="col">Operação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilizacao of utilizacaoNota">
        <th scope="row">{{ searchOm(utilizacao.om_id)?.nome }}</th>
        <th scope="row">{{ getItem(searchItemNotaEmpenho(utilizacao.item_nota_empenho_id)?.item_numero)?.nome }}</th>
        <th scope="row">{{ utilizacao.qtd_utilizada }}</th>
        <th scope="row">{{ utilizacao.nota_fiscal }}</th>
        <td>
          <img style="margin-right: 10px; cursor: pointer" title="Editar" src="/assets/imgs/pencil.png" alt="Editar"
            (click)="editar(utilizacao)" />
          <img style="cursor: pointer" title="Excluir" src="/assets/imgs/delete.png" alt="Excluir"
            (click)="excluir(utilizacao)" />

          <!--<p (click)="teste(utilizacao)">testar aqui</p>-->
        </td>
      </tr>
    </tbody>
  </table>
  <!----------------------- TOTAL ------------------------------->
  <p class="text-end">Total: <strong>{{utilizacaoNota.length}}</strong>
    <span> OM utilizando itens do empenho</span>
  </p>
</section>